.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Club-Main {
  width: 73vmin;
  display: inline-block;
  /* 배경색으로 디자인 확인 
  background-color: yellow;*/
}

.Club-Img {
  float: left;
  margin: 5px;
  width: 25vmin;
  height: 30vmin;
  text-align: left;
  /* 배경색으로 디자인 확인 
  background-color: red;*/
  padding: 0px;
}

.Club-logo {
  width: 25vmin;
  height: 30vmin;
  pointer-events: none;
}

.Club-script {
  float: right;
  width: 43vmin;
  height: 30vmin;
  margin: 5px;
  font-size: 14px;
  padding-left: 10px;
  /* 배경색으로 디자인 확인 
  background-color: gray;*/
  text-align: left;
}

.Club-script-detail {
  width: 73vmin;
  text-align: left;
  font-size: 14px;
  /* 배경색으로 디자인 확인 
  background-color: skyblue;*/
}

.blog-page__filter__item {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  line-height: 40px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #f7f8fa;
  transition: background-color 0.25s;
  /* 클릭 커서 */
  /*cursor: pointer;*/
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
